.bg-blue {
  background-color: var(--blue) !important;
}  
.bg-dark-blue {
  background-color: var(--dark-blue) !important;
}  
.bg-gray {
  background-color: #d2dcd6 !important;
}
.bg-black {
  background-color: #000000 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
